<nz-layout>
  <nz-header>
    <app-header></app-header>
  </nz-header>
  <nz-content class="outer-content">
    <nz-breadcrumb>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>Jobs</nz-breadcrumb-item>
      <nz-breadcrumb-item>List</nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-layout class="inner-layout">
      <!--
      <nz-sider nzWidth="200px" nzTheme="light">
        <app-side-menu></app-side-menu>
      </nz-sider>
      -->

      <nz-content class="inner-content">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>

    <nz-footer>
      <app-footer></app-footer>
    </nz-footer>
  </nz-content>
</nz-layout>
